.container {
    // Maximum width of the container of the app
    max-width: 120rem;
    
    // 80px margin top and bottom, automatically centered horzontally
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    
    //testing
    min-height: 50rem;
    
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
        
    }
}
.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom:  var(--line);
    
    // Place items in the header side by side
    display: flex;
    
    // Align items on the main axis
    justify-content: space-between;
    
    // Align all children vertically
    align-items: center;
    
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}
.content {
    // Initiate flex container property to align items within it side by side
    display: flex;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}
.sidebar {
    background-color: var(--color-grey-dark-1);
    
    // We don't want it to grow, shrink, and the basis is 18% of the available space, 
    // However, the hotel view doesn't have any width, so move on to .hotel-view
    flex: 0 0 18%;
    
    // This separates the navigation and the legal text between the top and bottom
    display: flex;
    flex-direction: column;
    
    // Even space between (include this note for the above)
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    
    // Hotel-view is set to fill out the full amount of the available space
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom:  var(--line);
        
    
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
        
    }
    
    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        
    }
}

.description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    background-color: #fff;
    box-shadow: var(--shadow-light); 
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
        
    }
    @media only screen and (max-width: $bp-small) {
        margin-right:0;
        margin-bottom: 3rem;
    }
}

.user-review {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}